.Signin {
  /* height: 100vh; */
  margin-top: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formContainer {
  opacity: 0.9;
  text-align: center;
  line-height: top;
  background-color: #b3cee5;
  width: 30%;
  height: 50%;
  padding: 5%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 10px #b3cee5;
}
.formContainer form {
  /* width: 100%;
  height:100%; */
  display:flex;
  flex-direction:column;
  margin: 0px auto;
  margin-top: 20px;
}
.formContainer form label {
  color: #03045e;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 25px;
}
.formContainer form input {
  outline: none;
  padding: 10px;
  border: none;
  /* width: calc(120%); */
  background-color: rgb(232 240 254);
  border-radius: 10px;
}

.btn {
  width: 100%;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #5892C6, #3974A7);
  box-shadow: 0 0 10px rgb(142, 142, 177);
  color: #03045e;
}

#btn{
  width:70%;

}